NEXT_PUBLIC_SHOPIFY_DOMAIN=lil-freak.myshopify.com
NEXT_PUBLIC_SHOPIFY_STOREFRONT_TOKEN=paste-your-storefront-access-token
NEXT_PUBLIC_SHOPIFY_API_VERSION=2026-07
NEXT_PUBLIC_SITE_URL=https://your-domain.com
